.chart {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    /* border-bottom: 8px solid rgb(180, 180, 180); */
    padding: 10px;
    background-color: white;
    /* border-bottom: 8px solid rgb(33, 150, 243); */
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.candidato-perfil {
    border-top: 1px solid grey;
    margin: 5px;
    padding: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.candidato-body {
    padding: 20px;
    align-items: center;
}

.candidato-data {
    padding-left: 20px;
    margin: 5px;
    flex-direction: column;
    display: flex;

}

.candidato-table {
    border-top: 1px solid grey;
}

.search-select {
    flex-direction: row;
    display: flex;
}

.load-more-text {
    margin-top: 10px;
    /* Afasta o elemento da classe .load-more-text da .search-select */
}

.candidato-image {
    border-radius: 3px;
    border: 2px solid black;
    border-color: black;
    height: 200px;
    width: 150px;
    margin: 5px;
}

.menu-item.active {
    background-color: rgb(33, 150, 243);
    /* Cor de destaque */
    color: #fff;
    /* Cor do texto destacado */
}

input,
select {
    max-width: 500px;
    width: 400px;
    padding: 10px 20px;
    /* Define a largura máxima desejada */
}

label {
    display: block;
    margin-bottom: 5px;
    /* Adicione algum espaço entre os rótulos */
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

body {
    margin-top: 5px;
    margin-bottom: 5px;

}

form {
    padding: 15px;
}

.table-cand {
    padding: 20px;
}

.table-centered td,
th,
thead {
    text-align: center;
    vertical-align: middle;
}

th,
td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

thead {
    background-color: rgb(33, 150, 243);
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.image-container {
    width: 100%;
    height: 100%;
}

.loader {
    border: 15px solid #f3f3f3;   
    border-top: 15px solid #3498db;   
    border-radius: 50%;
    width: 150px;   
    height: 150px;    
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);   
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex, none;
}


.loader-container p {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;    
}

.custom-icon {
    font-size: 35px;    
}

.map-image{
    padding: 20px;
    height: 80%;
    width: 70%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}