.chart {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    /* border-bottom: 8px solid rgb(180, 180, 180); */
    padding: 10px;
    background-color: white;
    /* border-bottom: 8px solid rgb(33, 150, 243); */
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.candidato-perfil {
    border-top: 1px solid grey;
    margin: 5px;
    padding: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.candidato-body {
    padding: 20px;
align-items: center;
}

.candidato-data {
    padding-left: 20px;
    margin: 5px;
    flex-direction: column;
    display: flex;   

}

.candidato-table{
    border-top: 1px solid grey;
}

.search-select {
    flex-direction: row;
    display: flex;
}

.load-more-text {
    margin-top: 10px;
    /* Afasta o elemento da classe .load-more-text da .search-select */
}

.candidato-image {
    border-radius: 3px;
    border: 2px solid black;
    border-color: black;
    height: 200px;
    width: 150px;
    margin: 5px;
}

.menu-item.active {
    background-color: rgb(33, 150, 243);
    /* Cor de destaque */
    color: #fff;
    /* Cor do texto destacado */
}

input,
select {
    max-width: 500px;
    width: 400px;
    padding: 10px 20px;
    /* Define a largura máxima desejada */
}

label {
    display: block;
    margin-bottom: 5px;
    /* Adicione algum espaço entre os rótulos */
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

body {
    margin-top: 5px;
    margin-bottom: 5px;

}

form {
    padding: 15px;
}

.table-cand {
    padding: 20px;
}

.table-centered td, th, thead {
    text-align: center;    
    vertical-align: middle;   
}

th,
td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
thead{
    background-color: rgb(33, 150, 243);
    color: #fff;
    text-align: center;
        vertical-align: middle;
}

.image-container {
    width: 100%;
    height: 100%;
}